*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
}

.bx{
    font-size: 1.5pc;
}

body{
    background-color: rgb(241, 241, 241);
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 50px 50px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.info{
    display: block;
    font-size: small;
    padding-left: 250px;
    padding-top: 50px;
}

.precio{
    display: flex;
    gap: 20px;
    align-items: center;
}

.info h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.info p{
    color: #888888;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

.info .browse{
    display: flex;
    width: 22em;
    justify-content: space-around;
    align-items: center;
}

.info .browse button{
    background-color: #AEA260;
    font-size: medium;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 120px;
    height: 30px;
}

.info .browse p{
    font-size: 15px;
}

.redes{
    padding: 30px 50px 50px 90px;
}

.opc_add{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-top: 60px;
}

.opc_add .bx{
    font-size: 3pc;
}

.opc_add2{
    display: flex;
    justify-content: space-around;
}

.info_pasarela{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.info_pasarela table img{
    height: 50px;
}

.info th{
    background-color: #afb626;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info table td{
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.info table{
    text-align: center;
    border-spacing: 0;
}

.info table i{
    font-size: 1pc;
}

.subtotal{
    background-color: #afb626;
    border-radius: 5px;
    padding: 30px;
    color: white;
    text-align: center;
}

.sub{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.total{
    display: flex;
    justify-content: space-between;
}

.sub p{
    color: white;
}

.total p{
    color: white;
    font-weight: bold;
}

.subtotal .browser{
    background-color: #afb626;
    font-size:smaller;
    text-align: center;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    color: white;
}

.quantity p{
    border: 1px solid;
    border-radius: 10%;
    padding: 2px;
    color: black;
}

.tabla .prod{
    color: gray;
}

.tabla .subt{
    font-weight: bolder;
}

.tabla .price{
    font-weight: lighter;
}